body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
   text-transform: uppercase;
}

.line{
  display: flex;
  gap: 5px;
}

.board{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.correct{
  background-color: rgb(69, 225, 69);
}

.close{
  background-color: yellow;
}


.incorrect{
  background-color: lightgrey;
}
